{% extends 'demo_pages/base.html.twig' %} 

{% block body %}
    
    <div id="tablatureWrapper">
        <div id="file-info"></div>
        
        <!-- 
        data-player enables the player 
        data-player-offset specifies the additional offset to apply when scrolling. 
                           in this sample we scroll 70px up for vertical layouts because the menubar would overlap the tablature otherwise. 
                           the 10px are to have a small horizontal padding. 
        -->
        <div id="alphaTab"
            data-file="{{ path( 'tablature_read', {id: item.id} ) }}"
            data-display-staveprofile="tab"
            data-notation-rhythmmode="ShowWithBars"
        ></div>
        
    </div>
{% endblock %}

{% block javascript_libs %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
              integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
              crossorigin="anonymous">
    </script>
    
    {{ encore_entry_script_tags( 'app-demo' ) }}
{% endblock %}

{% block javascripts %}
    {# {{ encore_entry_script_tags( 'tablature-player-demo' ) }} #}
    {{ encore_entry_script_tags( 'tablature-player-demo-latest' ) }}
{% endblock %}
