{% extends 'demo_pages/base.html.twig' %} 

{% block body %}
	<p style="margin-top:70px;">
	   This Demo is made from example here:
	   <a href="https://docs.alphatab.net/master/assets/files/player.html" target="_blank">
	       https://docs.alphatab.net/master/assets/files/player.html
	   </a>
	</p>
    <div id="tablatureWrapper">
        <div id="file-info"></div>
        
        <!-- 
        data-player enables the player 
        data-player-offset specifies the additional offset to apply when scrolling. 
                           in this sample we scroll 70px up for vertical layouts because the menubar would overlap the tablature otherwise. 
                           the 10px are to have a small horizontal padding. 
        -->
        <div id="alphaTab" 
            data-file="{{ path( 'tablature_read', {id: item.id} ) }}"
            data-player="/assets/AlphaTab/default.sf2" 
            class="alphaTab" 
            style="position: relative; text-align: left;"
        >
        
       
	</div>
{% endblock %}

{% block javascript_libs %}
	<!-- jQuery Plugin -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous">
	</script>
   
	<!-- Including alphaTab -->
	<script src="/assets/DEMO/files/swfobject.js"></script>
	<script src="/assets/DEMO/files/AlphaTab.js"></script>
{% endblock %}

{% block javascripts %}
	{% include 'demo_pages/partial/scripts.html.twig' %}
{% endblock %}
