.auth-page-wrapper .auth-page-content {
	padding-bottom: 0 !important;
}

.footer a {
	color: var(--vz-footer-color) !important;
}

.footer a:hover {
    text-decoration: underline;
}

label.required:after {
    content: '*';
    color: red;
    margin-left: 5px;
}

.clientOptionsFieldset legend {
    margin-bottom: 0 !important;
}

[data-layout="horizontal"] {
    @media (min-width: 1024.1px) {

        .layout-width,
        .container-fluid {
            max-width: 100% !important;
            margin: 0 auto;
        }

        .topnav-hamburger {
            visibility: hidden;
        }
    }
}

.footer.fixed-bottom {
    position: fixed !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin-bottom: 0 !important;
}

.footer.fixed-bottom .container-fluid {
    margin-right: 0 !important;
}

.dropdown-menu.locales-menu::before {
    background: unset !important;
    background-color: unset !important;
    border: unset !important;
}
