{% extends 'knp_menu.html.twig' %}

{% block root %}
    {% set breadcrumbs = knp_menu_get_breadcrumbs_array(item) %}
	
    {% for link in breadcrumbs %}
        {%- if loop.index == 1 %}
        	<li class="breadcrumbs__item"><a href="/">{{ 'vs_application.menu.home' | trans( {},'VSApplicationBundle' ) }}</a></li>
        {%- elseif not loop.last %}
        	<li class="breadcrumbs__item"><a href="{{ link.uri }}">{{ link.label | trans }}</a></li>
        {%- else %}
            <li class="breadcrumbs__item breadcrumbs__item--active">{{ link.label | trans }}</li>
        {%- endif %}
    {%- endfor %}
{% endblock %}
