{% extends 'knp_menu.html.twig' %}

{% block root %}
    <!-- menu nav -->
    <ul class="menu__nav">
        {# Example Dropdown Menu Item #}
        {#
        <!-- dropdown -->
        <li class="menu__nav-item">
            <a class="menu__nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z"/></svg></a>

            <ul class="dropdown-menu menu__dropdown-menu">
                <li><a href="{{ path( 'app_home' ) }}">Home style 1</a></li>
                <li><a href="index2.html">Home style 2</a></li>
            </ul>
        </li>
        <!-- end dropdown -->
        #}
    
        {% for key, parentItem in item.children %}
            <li class="menu__nav-item">
                <a class="menu__nav-link" href="{{ parentItem.uri }}">{{ parentItem.name|trans }} 
                    {% if parentItem.children is not empty %}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z"/>
                        </svg>
                    {% endif %}
                </a>
            </li>
        {% endfor %}
        
    </ul>
    <!-- end menu nav -->
{% endblock %}
