<div id="tablature-share-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'vs_wgp.template.modal_share_title' | trans( {},'WebGuitarPro' ) }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'vs_application.form.close' | trans( {},'VSApplicationBundle' ) }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">    
                <div id="formShareContainer"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSubmitShare">{{ 'vs_wgp.template.button_share' | trans( {},'WebGuitarPro' ) }}</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'vs_application.form.close' | trans( {},'VSApplicationBundle' ) }}</button>
            </div>
        </div>
    </div>
</div>