# @see https://github.com/Sylius/SyliusResourceBundle/blob/master/docs/index.md
sylius_resource:
    # Override default settings
    #settings:

    # Configure your resources
    resources:
        vs_wgp.tablature_category:
            driver: doctrine/orm
            classes:
                model:      App\Entity\TablatureCategory
                repository: App\Repository\TablatureCategoryRepository
                controller: App\Controller\WebGuitarPro\TablatureCategoryController
                form:       App\Form\TablatureCategoryForm
                
        vs_wgp.tablature:
            driver: doctrine/orm
            classes:
                model:      App\Entity\Tablature
                repository: Sylius\Bundle\ResourceBundle\Doctrine\ORM\EntityRepository
                controller: App\Controller\WebGuitarPro\TablatureController
                form:       App\Form\TablatureForm
        vs_wgp.tablature_file:
            driver: doctrine/orm
            classes:
                model:      App\Entity\TablatureFile
                repository: Sylius\Bundle\ResourceBundle\Doctrine\ORM\EntityRepository

