<h3>{{ 'vs_users.template.profile_activity_header' | trans( {},'VSUsersBundle' ) }}</h3>
<section class="panel">
    <div class="panel-body bio-graph-info profile-activity">
    	{% for activity in user.activities %}                                       
    	    <div class="act-time">                                      
    	        <div class="activity-body act-in">
    	            <span class="arrow"></span>
    	            <div class="text">
    	                <a class="activity-img" href="#"><img alt="" src="img/chat-avatar.jpg" class="avatar"></a>
    	                <p class="attribution"><a href="#">Activity name</a> at {{ activity.date | date( "g:ia , jS F Y ( l )" ) }}</p>
    	                <p>{{ activity.activity }}</p>
    	            </div>
    	        </div>
    	    </div>
    	{% endfor %}
    </div>
</section>
