<tr data-node-id="-1" id="uncategorized-tablatures">
    <td width="10%"><i class="fa fa-folder" aria-hidden="true"></i></td>
    <td>{{ 'vs_wgp.template.uncategorized' | trans( {},'WebGuitarPro' ) }}</td>
    <td></td>
</tr>
<script>var uncategorizedTablatures=0;</script>

{% for item in items %}
    {% if ( item.categories|length == 0 ) and item.user == app.user %}
        <script>uncategorizedTablatures++;</script>
        
        {% set rowClass = ( rowClass == 'simpleTreeTable_Row_Even' ) ? 'simpleTreeTable_Row_Odd' : 'simpleTreeTable_Row_Even' %}
        {% include 'Pages/Tablatures/Partial/simpleTreeTableRows.html.twig' with {'parentId': -1, 'item': item, 'isTab': 1, 'rowClass': rowClass} %}
    {% endif %}
{% endfor %}
