<nav id="sidebar" class="{{'sidebar active ' + navClass}}">
    
    <!-- Display Song Position -->
    <song-position-item [player]="player" class="song-position"></song-position-item>
    
    <div id="PlayerControls" class="{{'player-controls displayPanel ' + navClass}}">
    
        <!-- PlayPause Button -->
        <play-pause-button-item [player]="player" ></play-pause-button-item>

        <!-- Stop Button -->
        <stop-button-item [player]="player" ></stop-button-item>
        
        <!-- Looping Button -->
        <looping-button-item [player]="player" ></looping-button-item>
        
        <!-- Metronome Button -->
        <metronome-button-item [player]="player" ></metronome-button-item>
        
        <!-- CountIn Button -->
        <count-in-button-item [player]="player" ></count-in-button-item>
        
        <!-- Tracks Button -->
        <tracks-item [player]="player" ></tracks-item>
        
        <!-- Speed Button -->
        <speed-item [player]="player" ></speed-item>
        
        <!-- Layout Button -->
        <layout-item [player]="player" ></layout-item>
        
        <!-- Print Button -->
        <print-item [player]="player" ></print-item>
        
        <!-- Favorites Button -->
        <favorites-button-item *ngIf="isLoggedIn" [tabId]="tabId" ></favorites-button-item>
        
        <!-- Information Button -->
        <information-button-item [player]="player" ></information-button-item>
        
        <!-- Download Button -->
        <download-button-item></download-button-item>
    </div>

</nav>