{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: Tablature Categories{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> Tablature Categories{% endblock %}

{% block content %}
    <div class="tablatures-container" style="margin-top: 110px">
        <div id="messages">
            {% if error is defined %}
                <div>{{ error.messageKey|trans( error.messageData, 'security' ) }}</div>
            {% endif %}
        </div>
        <div class="card">
            <h5 class="card-header">Tablature Categories</h5>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for t in items %}
                        <tr>
                            <td>{{ t.name }}</td>
                            <td>
                                
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

