{% extends 'base.html.twig' %} 

{% block stylesheets %}
	{{ parent() }}
	
	{{ encore_entry_link_tags( 'tablature-player' ) }}
{% endblock %}   
           
{% block body %}
	<!-- Sidebar  -->
    {% include 'partial/tablature-sidebar.html.twig' %}
    <!-- Page Content  -->
    <div id="content">
    	{% include 'partial/tablature-topbar.html.twig' %}
    
        <div id="file-info"></div>    
        
        <div id="alphaTab" data-file="/tablatures/SoundOfHeaven.gp3" data-tracks="4"
                           data-player="/assets/AlphaTab/default.sf2"
                           data-player-offset="[-10,-70]"></div>
                           
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

    <!-- Including alphaTab -->
    <script type="text/javascript" src="/assets/AlphaTab/swfobject.js"></script>
    <script type="text/javascript" src="/assets/AlphaTab/AlphaTab_DEMO.js"></script>
    
	<script type="module" src="/assets/tablature-player.js"></script>
{% endblock %}
