{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: Error Page{% endblock %}
{% block pageTitle %}<i class="fa fa-user-md"></i> Error Page{% endblock %}

{% block content %}
    <div class="padding">
        <div class="row mt-5">
            <div class="col-sm-12">
                <h1>YOU HAVE NOT ACCESS TO THIS CONTENT !!!</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {% include '@VSPayment/Pages/CreditCard/Partial/credit_card_css.html.twig' %}
    
    <style>
        a {
            color: #007bff !important;
        }
        a:hover {
            color: #007bff !important;
            text-decoration: underline !important;
        }
    </style>
{% endblock %}

