<footer class="footer navbar navbar-expand-lg navbar-light bg-light fixed-bottom copyright-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                2019 - {{ "now" | date( "Y" ) }} &copy {{ applicationTitle }}
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by <a href="http://vankosoft.org">{{ applicationCompany }}</a>
                </div>
            </div>
        </div>
    </div>
</footer>