{% if  items.pageCount > 1 %}
    <div class="row">
        <!-- paginator -->
        <div class="col-12">
            <nav aria-label="Page navigation">
                <!-- amount -->
                <div class="float-start pt-1">Showing {{ items.count }} of {{ items.getTotalItemCount }}</div>
                <!-- end amount -->
                
                {{ knp_pagination_render(items, 'Layout/pagination.html.twig') }}
            </nav>
        </div>
        <!-- end paginator -->
    </div>
{% endif %}
