<!-- App Search-->
<form class="app-search d-none d-md-block" action="{{ path( 'wgp_search_tablatures' ) }}" method="POST" id="TopbarSearchForm">
    <div class="position-relative">
        <input type="text" class="form-control"
            name="searchCriteria"
            placeholder="{{ 'vs_wgp.template.search_placeholder' | trans( {},'WebGuitarPro' ) }}"
            autocomplete="off"
            id="custom-search-options"
            value="{% if searchCriteria is defined %}{{ searchCriteria }}{% endif %}"
        />
        <span class="mdi mdi-magnify search-widget-icon"></span>
        <span class="mdi mdi-close-circle search-widget-icon search-widget-icon-close d-none" id="custom-search-close-options"></span>
    </div>
</form>