<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
    <div class="container-fluid">
        <div class="site-support">
            <div class="float-right">
                Supported by:  
                <a href="http://vankosoft.org">VankoSoft.Org</a>
                &copy{% if "now"|date("Y") > 2019 %}2019 - {% endif %}{{ "now"|date("Y") }}
            </div>
        </div>
    </div>
</nav>