.card-profile-form .row {
    margin-right: 0;
    margin-left: 0;
}

.card-profile-form {
    margin-right: 50px;
    margin-left: 50px;
}

.panel-header, .panel-body {
	border-color: #ffffff !important;
}

.tab-regular .tab-content {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #e6e6f2;
    border-radius: 4px;
    border-top-left-radius: 0px;
}
