<div id="tab-information-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tablature Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="tabInfo">
                    <h1 class="artist" style="text-align: center;"></h1>
                    <h2 class="title" style="text-align: center;"></h2>
                    <h2 class="subTitle" style="text-align: center;"></h2>
                    
                    <div class="row"><div class="col-sm">&nbsp;</div></div>
                    
                    <div class="row">
                        <div class="col-sm-2" style="font-weight: bold;">Album:</div>
                        <div class="col-sm album"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" style="font-weight: bold;">Copyright:</div>
                        <div class="col-sm copyright"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" style="font-weight: bold;">Notices:</div>
                        <div class="col-sm notices"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" style="font-weight: bold;">Words:</div>
                        <div class="col-sm words"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2" style="font-weight: bold;">Music:</div>
                        <div class="col-sm music"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>