<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom copyright-bar">
    <div class="container-fluid">
        <div class="site-support">
            <a href="http://vankosoft.org" class="float-right">
                Supported by: VankoSoft.Org &copy{% if "now"|date("Y") > 2022 %}2022 - {% endif %}{{ "now"|date("Y") }}
            </a>
        </div>
    </div>
</nav>