.alert {
	z-index: 10;
}

.hide {
    display: none;
    visibility: hidden;
}

.splash-container {
    max-width: 450px !important;
}

.fieldset-project-attributes {
	border: 1px solid black !important;
	padding: 20px;
}

.project-attributes-left {
	border-right: 1px solid black !important;
	padding-right: 30px;
}

.tree-icon {
    display: none !important;
}

/* EasyUI TreeCombo */
.textbox.combo {
	display: block !important;
	width: 100% !important;
	height: calc(2.25rem + 2px) !important;
	padding: 0.375rem 0.75rem !important;
	font-size: 1rem !important;
	font-weight: 400 !important;
	line-height: 1.5 !important;
	color: #495057 !important;
	background-color: #fff !important;
	background-clip: padding-box !important;
	border: 1px solid #d2d2e4 !important; 
	border-radius: 0.25rem !important;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.validatebox-invalid {
    border-color: #ffa8a8 !important;
    background-color: #fff !important;
    color: #495057 !important;
}
.combo-arrow {
    background-color: #fff !important;
    margin: 5px !important;
}

.cardHeaderButton {
	float: right;
	margin: 20px 20px 0 0;
}

/*
 * Profile Menu Display On-Hover
 
.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .nav-link{   }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }
*/

/*
 * Multi Level Dropdown Menu
 */
.dropdown-submenu {
	position: relative;
}

.dropdown-submenu a::after {
	transform: rotate(-90deg);
	position: absolute;
	right: 6px;
	top: .8em;
}

.dropdown-submenu .dropdown-menu {
	top: 0;
	left: -100%;
	margin-left: .1rem;
	margin-right: .1rem;
}


/*
 * Override easyui.css
 */
.panel-header, .panel-body {
	border-width: 0 !important;
    overflow: hidden !important;
}

.panel-body {
	height: fit-content !important;
	padding: 5px 0 10px 0 !important;
}

/*
 * GtreeTable Custom Styles
 */
table.gtreetable ul.dropdown-menu {
	padding: 0.5rem 1rem 0.5rem 1em !important;
}

table.gtreetable ul.dropdown-menu li a {
	color: #71748d !important;
}

.profile_details_form .row {
    margin-right: 0;
   	margin-left: 0;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.125rem + 2px);
    margin-bottom: 0;
}

input[type=file] {
    color: #71748d;
    background-color: #fff;
    border-color: #a7a7f0;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(214 214 255 / 75%);
}

#cardUploadFile.card {
    margin-bottom: 0 !important;
}

.custom-file-label {
    top: 40px !important;
    color: #ffffff !important; /* Hide This Label I use .col-form-label before this is only this used only file input styling. */
}

.custom-file-control {
	position: absolute;
	top: 45px;
	left: 10px;
	z-index: 2;
	color: #71748d;
	background-color: #fff;
	width: 80% !important;
}

.textbox .textbox-text {
    width: 100% !important;
}

.combobox-checkbox {
    margin: 0 5px 0 5px !important;
}

.combobox-item-selected {
    background-color: #ffffff !important;
}

.profile-data.panel-body {
	border: 0 !important;
}

.vsFormButtonsGroup {
    width: 600px !important;
}

.notification-dropdown {
    width: 300px !important;
}

.custom-file-label.profile-picture {
	top: 0 !important;
}
