@import "~bootstrap/scss/bootstrap.scss";

@import "../libs/css/style.css";

@import "./fontawesome/css/fontawesome-all.css";
@import "./elegant-icons/css/elegant-icons-style.css";

@import '~glyphicons-only-bootstrap/css/bootstrap.css';

@import '../../../node_modules/mdb-ui-kit/src/scss/free/_flag.scss';

@import "./top.css";
@import "./custom.css";
