<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>

<IfModule mod_fcgid.c>
	AddHandler fcgid-script .php
	FcgidWrapper /home/babynfcj/projects/dev/VS_WebGuitarPro/public/php.fcgi .php
</IfModule>
