<table class="table table-hover align-middle table-nowrap mb-0" id="tblTablatures">
	<tbody>
        {% set rowClass = 'simpleTreeTable_Row_Odd' %}
        {% for item in app.user.tabCategories %}
        	{% if not item.parent %}
                {% set rowClass = loop.index0 is odd ? 'simpleTreeTable_Row_Odd' : 'simpleTreeTable_Row_Even' %}
                {% include 'Pages/Tablatures/Partial/simpleTreeTableRows.html.twig' with {'category': item, 'parentId': 0, 'isTab': 0, 'rowClass': rowClass} %}
        	{% endif %}
        {% endfor %}

        {% include 'Pages/Tablatures/Partial/simpleTreeTableRowsUncategorized.html.twig' with {'rowClass': rowClass} %}
    </tbody>
</table>
                