/*
 * https://getbootstrap.com/docs/4.1/components/dropdowns/
 */

#sidebar .sidebar-header {
    padding: 0 10px 0 10px !important;
    background: #ffffff !important;
}

.dropdown-menu {
	background-color: transparent !important;
	border-style: none !important;
	left: 50px !important;
	top: -20px !important;
}

.sidebar .nav > li {
    width: 77px;	
}

#sidebar.active .dropdown.show::after {
    position: absolute;
    top: 25px;
    right: -18px !important;
    display: inline-block;
    border-right: 15px solid #6d7fcc;
    border-bottom: 15px solid #6d7fcc;
    content: '';
    transform: rotate(-45deg);
    background: #6d7fcc;
    transition: all 0.6s;
}

#playbackSpeedSelector,
#layoutSelector {
	list-style: none; /* Remove list bullets */
	padding: 0;
  	margin: 0;
}

.dropdown-toggle::after {
	content: none !important;
}

.icon-metronome {
	background-position: 0 -160px !important;
	width: 40px;
	height: 40px;
	background: url(../images/player-icons.svg);
	background-size: 200px 240px;
}

.icon-settings {
	content: "" !important;
	background-position: -40px -155px !important;
	width: 40px;
	height: 40px;
	background: url(../images/player-icons.svg);
	background-size: 200px 240px;
}

.widget-progress {
	/*display: none;*/
	width:50% !important;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}
