/*
 * https://getbootstrap.com/docs/4.1/components/dropdowns/
 */

#sidebar .sidebar-header {
    padding: 0 10px 0 10px !important;
    background: #ffffff !important;
}

.dropdown {
	position: relative !important;
}

.dropdown-menu {
	position: relative;
	left: 20px !important;
    text-align: center;
    background-color: #fff;
 
    overflow-x: hidden;
    overflow-y: auto;
    
    box-shadow: 6px 0 17px -4px rgba(0,0,0,.1);
    z-index: 9999 !important;
    will-change: transform;
    pointer-events: auto;
    touch-action: manipulation;
}

.sidebar .nav > li {
    width: 77px;	
}

#sidebar.active .dropdown.show::after {
    position: absolute;
    top: 25px;
    right: -18px !important;
    display: inline-block;
    border-right: 15px solid #6d7fcc;
    border-bottom: 15px solid #6d7fcc;
    content: '';
    transform: rotate(-45deg);
    background: #6d7fcc;
    transition: all 0.6s;
}
