{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: Credit Card{% endblock %}
{% block pageTitle %}<i class="fa fa-user-md"></i> Credit Card{% endblock %}

{% block content %}
    <div class="padding">
    	<div class="row">
    		<div class="col-sm-6">
                {% if paymentMethod.gateway.factoryName == 'stripe_checkout' or paymentMethod.gateway.factoryName == 'stripe_js' %}
                    {% set captureKey = paymentMethod.gateway.config.publishable_key %}
                {% else %}
                    {% set captureKey = '' %}
                {% endif %}
                
                {% include '@VSPayment/Pages/CreditCard/Partial/credit_card_form.html.twig' with {
                    'formAction': '',
                    'formMethod': 'POST'
                } %}
    		</div>
    	</div>
    </div>
{% endblock content %}

{% block stylesheets %} 
    {{ parent() }}
    
    {% include '@VSPayment/Pages/CreditCard/Partial/credit_card_css.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    {{ encore_entry_script_tags( 'paymentForm', null, 'WebGuitarPro_ReactJs' ) }}
{% endblock %}
