{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: Payment Done{% endblock %}
{% block pageTitle %}<i class="fa fa-user-md"></i> Payment Done{% endblock %}

{% block content %}
    <div class="padding">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Payment Success</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                {#   
                                {{ dump( paymentStatus ) }}
                                #}
                                You successfuly finished payment! You can turn to application <a href="{{ path('app_home') }}">home</a>.
                            </div>
                         </div>
                     </div>
                     <div class="card-footer"></div>
                 </div>         
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {% include '@VSPayment/Pages/CreditCard/Partial/credit_card_css.html.twig' %}
    
    <style>
        a {
            color: #007bff !important;
        }
        a:hover {
            color: #007bff !important;
            text-decoration: underline !important;
        }
    </style>
{% endblock %}

