<div class="player-controls__item"
    ngbTooltip="{{ 'player_controls.tooltip.set_speed' | translate }}" placement="{{ tooltipPlace }}"
>
    <svg class="icon dropdown-toggle player-button"
        data-bs-toggle="dropdown"
        data-display="static"
        aria-haspopup="true"
        aria-expanded="false"
    >
        <use xlink:href="#speed-selector"></use>
    </svg>
    <div class="{{'dropdown-menu dropdown-menu-right ' + ddClass}}">
        <div id="speedSelector" class="dropdown-menu-background">
            <ul>
                <li *ngFor="let speed of speeds"
                    [ngClass]="speed.value == selectedSpeed.value ? 'active' : ''"
                    (click)="speedHandler( speed, $event )"
                >{{ speed.text }}</li>
            </ul>
        </div>
    </div>
</div>