{#  #}
<table class="table table-striped table-advance table-hover" id="tblTablatures">
	{#
	<thead>
        <tr>
            <th>{{ 'vs_cms.template.page_categories_index_row_category' | trans( {},'VSCmsBundle' ) }}</th>
            <th>{{ 'vs_cms.template.page_categories_index_row_actions' | trans( {},'VSCmsBundle' ) }}</th>
        </tr>
    </thead>
	#}
	<tbody>
        {% for item in userCategories %}
        	{% if not item.parent %}
        		{% include 'Pages/Tablatures/Partial/simpleTreeTableRows.html.twig' with {'category': item, 'parentId': 0, 'isTab': 0} %}
        	{% endif %}
        {% endfor %}
        {# #}
        {% include 'Pages/Tablatures/Partial/simpleTreeTableRowsUncategorized.html.twig' %}
        
    </tbody>
</table>
                