<table class="table table-striped table-advance table-hover" id="tblTablatures">
	<tbody>
        {% for item in userCategories %}
        	{% if not item.parent %}
        		{% include 'Pages/Tablatures/Partial/simpleTreeTableRows.html.twig' with {'category': item, 'parentId': 0, 'isTab': 0} %}
        	{% endif %}
        {% endfor %}

        {% include 'Pages/Tablatures/Partial/simpleTreeTableRowsUncategorized.html.twig' %}
    </tbody>
</table>
                