<tr data-node-id="-1">
    <td>Uncategorized</td>
    <td></td>
</tr>

{% for item in items %}
    {% if ( item.categories|length == 0 ) and item.user == app.user %}
        {% include 'Pages/Tablatures/Partial/simpleTreeTableRows.html.twig' with {'parentId': -1, 'item': item, 'isTab': 1} %}
    {% endif %}
{% endfor %}
