<div class="player-controls__item">
    <svg class="icon dropdown-toggle" data-bs-toggle="dropdown" data-bs-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
        <use xlink:href='#icon-guitar' />
    </svg>
    <div class="dropdown-menu dropdown-menu-right player-menu-right" role="menu" aria-labelledby="dLabel">
        <div id="trackList" class="dropdown-menu-background scrollable-menu-side">
            
            <div *ngFor="let track of scoreTracks" class="track" data-track="index">
                <div class="title"
	               (click)="clickTrackTitleHandler( track, $event )"
                >
	                <i class="fa fa-eye-slash mr-2 showHide"></i>
	                {{ track.name }}
	            </div>
	            <div class="btn-group btn-group-xs mt-2">
	                <div class="form-check">
	                    <input type="radio" name="track-solo-mute-{{ track.index }}"
	                        data-waschecked="false"
	                        class="mr-2"
	                        id="solo-{{ track.index }}"
	                        (click)="clickTrackSoloMuteHandler( 'solo', track, $event )"
	                    />
	                    <label class="form-check-label" for="solo-{{ track.index }}">Solo</label>
	                </div>&nbsp;&nbsp;
	                <div class="form-check">
	                    <input type="radio" name="track-solo-mute-{{ track.index }}"
	                        data-waschecked="false"
	                        class="mr-2"
	                        id="mute-{{ track.index }}"
	                        (click)="clickTrackSoloMuteHandler( 'mute', track, $event )"
	                    />
	                    <label class="form-check-label" for="mute-{{ track.index }}">Mute</label>
	                </div>
	            </div>
	            
                <!-- https://www.npmjs.com/package/ngx-bootstrap-slider -->
                <div class="mt-1">
                    <mv-slider
                        [(value)]="track.playbackInfo.volume"
                        (slide)="changeTrackVolumeHandler( track, $event )"
                        [min]="0"
                        [max]="16"
                        [enabled]="true"
                    ></mv-slider>
	            </div>
	        </div>

        </div>
    </div>
</div>