<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <div class="sidebar-header">
            <img src="/assets/img/logo.png" width="50" height="50" />
        </div>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Songs</a>
                </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Favorites</a>
                </li>
                
                <!--  Submit Tab  -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Submit Tab</a>
                </li>
                <!--/  Submit Tab  -->
            	<li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            {% else %}
                <!--  User Login  -->
                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    	Login
                    </a>
                    
                    <div class="dropdown-menu dropdown-menu-right">
						<form action="{{ path( 'fos_user_security_check' ) }}" method="post" class="px-4 py-3" id="formLogin" >
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                            
                        	<div class="form-group">
                          		<label for="exampleDropdownFormEmail1">Email address</label>
                          		<input type="email" name="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                        	</div>
                        	<div class="form-group">
                          		<label for="exampleDropdownFormPassword1">Password</label>
                          		<input type="password" name="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                        	</div>
                        
                        	<button type="submit" class="btn btn-primary">Login</button>
                      	</form>
                	</div>
                	
                </li>
                <!--/ User Login  -->
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
