body.tablature-player {
    background: #dfe7ef !important;
    font-family: "Bitter", serif !important;
}
    
#song-details {
    font-family: 'Georgia';
    width: 90%;
    display: block;
    margin: auto;
    position: absolute !important;
    right: 50px;
}

/* Hide empty elements */
#song-details > *:empty {
   display: none;
}

#song-details h1, #song-details h2, #song-details h3 {
    text-align: center;
}

#alphaTab {
    width: 90%;
    display: block;
    margin: auto;
    padding-bottom: 20px;
    position: absolute !important;
    right: 50px;
    top: 200px;
}
